__pycache__/
AIB_env/
AIB_env_serial/
data/
checkpoints/
simclr-pytorch/
rxrx1_cells/
dataset_debug_rank_0.log
dataset_debug_rank_1.log
loss_functions_debug.log
training_debug.log
AIB_new/AIB/crop_runs/241101/ep1_run1/checkpoints
AIB_new/AIB/crop_runs/241101/ep1_run2/checkpoints
AIB_new/AIB/crop_runs/241101/ep1_run3/checkpoints
AIB_new/AIB/crop_runs/241102/ep1_run4/checkpoints
AIB_new/AIB/crop_runs/241103/ep2_run1/checkpoints
AIB_new/AIB/crop_runs/241105/ep3_run1/checkpoints
AIB_new/AIB/crop_runs/241107/ep3_run2/checkpoints
AIB_new/AIB/crop_runs/241114/ep2_run2/checkpoints
AIB_new/AIB/crop_runs/241115/ep2_run3/checkpoints
AIB_new/AIB/crop_runs/241116/ep4_run1/checkpoints