numpy==1.24.3
ogb>=1.2.6
outdated>=0.2.0
pandas>=1.1.0
pillow>=7.2.0
pytz>=2020.4
#torch==1.12+cu113
    # torch-scatter>=2.0.5
    # torch-geometric>=2.0.1
#torchvision==0.13.1+cu113
##pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
tqdm>=4.53.0
scikit-learn>=0.20.0
scipy>=1.5.4
wilds
matplotlib
#pytorch-lightning==2.1.0
seaborn
tensorboard
wilds
albumentations
diffdist